# Ignore node_modules directory
node_modules/

# Ignore logs
*.log

# Ignore the npm debug log
npm-debug.log*

# Ignore .env file which might contain sensitive information
.env

# Ignore other non-essential files
.DS_Store
*.pem
*.cert
*.code-workspace